.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pokemon {
  border: 2px solid black;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
